body{
	font-family: 'Ubuntu','Arial';
	font-size: 15px;
	background-image:url("../img/fon.png");
	background-repeat:repeat;
}

#header{
	width:1140px;
	padding:20px;
	margin:0 auto;
	/* background-color:red; */
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

/**/
.logo{
	display:inline-block;
}

.header-menu{
	display:inline-block;
	position:relative;
	bottom:15px;
	left:40px;
}

.header-menu ul li a{
	color: gray;
	text-decoration:none;
	font-size:25px;
}

.header-menu ul li a:hover{
	text-decoration:underline;
}

.header-menu ul li{
	display:inline-block;
	margin-right:10px;
}

.uyelik{
	display:inline-block;
	position:relative;
	bottom:15px;
	left:80px;
	top:5px;
	color:white;
	font-weight:bold;
}

.uyelik .avatar{
	width:50px;
	height:50px;
	display:inline-block;
	margin-left:50px;
}

.uyelik .uye_islemleri{
	display:inline-block;
	margin-left:5px;
}

.uyelik .yonetim_paneli{
	display:inline-block;
}

.uyelik .yonetim_paneli a{
	color:#43cba2;
	text-decoration:none;
	font-weight:bold;
}

.uyelik .yonetim_paneli a:hover{
	color:#009568;
	text-decoration:underline;
}

.uyelik .uye_islemleri a{
	display:block;
	color:#f94880;
	text-decoration:none;
}

.uyelik .uye_islemleri a:hover{
	text-decoration:underline;
	color:#c0003c;
}

.uyelik-sol{
	display:inline-block;
}

.uyelik-sag{
	display:inline-block;
}

.kullaniciad, .sifre{
	background:none;
	border:none;
	outline:none;
	padding:4px;
	color:white;
	border-bottom:2px solid #32aed6;
	font-weight:bold;
	margin-right:10px;
	width:100px;
}

.uye-giris-buton{
	border:none;
	outline:none;
	background-color:#d63266;
	padding:5px;
	border-radius:3px;
	color:white;
	font-weight:bold;
	margin-right:10px;
}

.uye-giris-buton:hover{
	background-color:#c71d53;
}

.uye-kayit-buton{
	border:none;
	outline:none;
	background-color:#8a32d6;
	padding:5px;
	border-radius:3px;
	color:white;
	font-weight:bold;
	margin-right:10px;
}

.uye-kayit-buton:hover{
	background-color:#7816cd;
}

/* HEADER SONU */

#content{
	background-color:#eeeeee;
	min-height:1000px;
	width:1140px;
	margin:0 auto;
	border-radius:5px;
	padding:10px;
}

.content-icerik{
	background-color:white;
	width:750px;
	padding:10px;
	border-radius:5px;
	display:inline-block;
}

.icerik-kart{
	background-color:#f9e3e6;
	padding:5px;
	border-radius:3px;
	margin-bottom:10px;
}

.icerik-kart-baslik{
	text-transform:uppercase;
	font-size:10px;
}

.icerik-kart-baslik h2{
	font-size:20px;
	font-weight:bold;
	margin-bottom:3px;
}

.icerik-kart-bilgi{
	background-color:white;
	padding:10px;
	margin-top:10px;
	line-height:normal;
	min-height:100px;
}

.icerik-kart-bilgi img{
	float:left;
	margin-right:10px;
}

.icerik-kart-bilgi a{
	font-weight:bold;
	color:#FE5921;
	text-decoration:none;
}

.icerik-kart-bilgi a:hover{
	color:#bc3000;
	text-decoration:underline;
}

.content-sidebar{
	background-color:#444444;
	width:340px;
	padding:10px;
	border-radius:5px;
	display:inline-block;
	float:right;
}

.content-sidebar:after{
	clear:both;
}

.arama{
	background-color:#0798AB;
	color:white;
	font-weight:bold;
	border-radius:3px;
	padding:10px;
}

.arama form{
	margin-top:10px;
}

.arama img{
	float:right;
	display:inline;
}

.arama-textbox{
	border:none;
	border-radius:3px;
	padding:7px;
	width:180px;
}

.arama-buton{
	background-color:#57a957;
	border:none;
	border-radius:3px;
	padding:8px;
	color:white;
	font-weight:bold;
	width:100px;
	font-family:"trebuchet ms";
	font-weight:bold;
}

.arama-buton:hover{
	background-color:#389638;
}

.arama h4{
	display:inline;
}

.si{
	background-color:white;
	border-radius:3px;
	padding:10px;
	font-family: trebuchet ms;
	margin-top:10px;
}

.si ul li a{
	color:black;
	text-decoration:none;
}

.si ul li a:hover{
	text-decoration:underline;
}

.si ul li{
	list-style-image:url("../img/liste-simge.png");
	margin-left:20px;
	margin-bottom:3px;
}

.si h4{
	font-size:22px;
	border-bottom:1px solid gray;
	margin-bottom:10px;
	padding-bottom:5px;
}

.yorum-div .yorum-yazar, .yorum-icerik{
	display:inline;
	font-size:12px;
}

.yorum-div .yorum{
	display:block;
}

.yorum-div{
	border-bottom:1px solid #c7c7c7;
	margin-bottom:10px;
	padding:5px;
}

.son-yorumlar ul li{
	list-style-image:none;
	margin:0;
}

#footer{
	width:1140px;
	/* background-color:blue; */
	margin:0 auto;
	padding:10px;
	color:white;
	font-size:11px;
}

.footer-sol{
	display:inline-block;
}

.footer-sosyal-medya{
	display:inline-block;
	float:right;
}

.footer-sosyal-medya span{
	display:block;
	text-align:center;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 12px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}

/* profil-duzenleme-sol.php */

.profilduzenlediv{
	width:500px;
	display:inline-block;
	margin-bottom:20px;
}

.sifredegis{
	display: block;
	margin-bottom:5px;
}

/* */
.sayfa_numarasi{
	border:1px solid #ccc;
	padding:3px;
	color:#0068aa;
	text-decoration:none;
}

.sayfa_numarasi:hover{
	border:1px solid black;
}

.yorum-sil-buton{
	color:#e95252;
	display:inline;
	font-weight:bold;
}

.yorum-sil-buton:hover{
	text-decoration:underline;
	color:#b40e0e;
	cursor:pointer;
}